@import "blueberry.css";

* {
    margin: 0;
    border: 0;
    padding: 0;
}


body {
    background-image: url(res/images/Cloudy-Stars-Wallpaper-Computer.jpg);
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    
    min-width:1000px;


    /*Font styling*/
     text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px black;
    font:20px/26px Arial, San-Serif;
    font-family: "Lucida Sans Unicode", "Hoefler Text", Georgia, Garamond, Times, serif;/*Adobe Caslon Pro*/
    color:#E0E0E0;
}

#mainBody{
    padding: 0 70px 0 0;
}

h1{
    text-align: center;
    font-size: 180%;
    line-height: 120%;
    padding: 4% 0%;
}

h2 {
    line-height: 280%;
    padding-left: 2%;
}

h3 {
    line-height: 110%;
    padding: 5% 0%;
}

p {
    padding: 1%;
    font-size: 120%;
}

img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #bfbfbf;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-shadow: 0px 0px 6px #3CA8F0;
}

#introText {
    float: left;
    margin: 20px 0 20px 20px;
    top:20%;
    width: 50%;
    text-align: left;
}


#introPic {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 40%;
}

#sidebar {
    background: #2B3557;
    width: 300%;
    float: left ;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    opacity: 0.90;
    transform: translateX(100%) 
        rotate(90deg);
    transform-origin: left top 0;
}

#logo {
    margin: 0px 10px;
    float: left;
    width: 80px;
    height: 100%;
    background: url(res/logos/transport463.png) no-repeat center;
    transform: rotate(-90deg);
}

nav {
    float: left;
}

nav ul {
    line-height: 350%;
}

nav ul li {
    display: inline;   
}

nav ul li a {    
    text-align: center;
    height: 100%;
    width: auto;
    padding: 10px 20px;
    color: #fff; 
}

ul {
    list-style: none;
}

#title {
    text-align: left;
    margin: 4% 5%;
    width: 40%; 
    transform: rotate(-3deg);
}

#doc {
   
}



article{
    clear: both;
}

article p{
    float: left;
    width: 70%;
    font-size: 80%;
    line-height: 130%;
}



section {
    width: 31%;
    float: left;
    margin: 0 0 0 2%;
    text-align: center;
}

.clear {
    height: 160px;
    clear:both;
}
#video {
    margin: 0 0 0 20%;
    max-width: 850px;
}

dl {
    margin: 20px 0 0 20px;
   letter-spacing:0.1em;
   text-transform: lowercase;
   line-height: 150%;
   font-size: 20pt;
   font-variant: small-caps;
    width: 45%;
    float: left;
}

dt {
    float: left;
    clear: left;
    font-weight: bold;
    font-size: 130%;
    width: auto;
    padding-bottom: 5em;
    padding-right: 2em;
}

#group {
    clear: left;
    width: 100%;
}
#groupImg {
    //treba 
    max-width: 100%;
}

footer {
    background: #333333;
    width: 100%;
    overflow: hidden;
    opacity: 0.9;
}

footer p, footer h2 {
    opacity: 0.95;
}

footer.second {
    border-top: 1px solid #4D4E50;
    background-color: #333333;
    max-height: 50px;
    text-align: center;
    opacity:0.95;
}

#literature {
    margin: 0 0 40px 0;
    letter-spacing: 0.08em;
    width: 100%;
}

#literature h3 {
    border-bottom: 1px solid;
    text-align: left;
    padding-bottom: 0;
}

.refBox {
    float:left;
    width: 29%;
    margin: 0 0 0 2em;
}

.refBox ul li{
    list-style: circle;
    list-style-position: inside;
}

.refBox ul li a{
    font-weight: normal;
}

#download {
    width: 50%;
    float: left;
    text-align: center;
    line-height: 200%;
}

#download img{
    padding-right: 5px;
    height: 32px;
    transform: rotate(90deg) translateX(40%);
}

#download:hover {
    transform: scale(1.2,1.2);
}

#download a{
  vertical-align: middle;
  font-size: 180%;
 /*   color: #555;*/
}
.clear1 {
    height: 80px;
    clear:both;
}

/*Highslide additional editing*/

.highslide-wrapper, .highslide-outline {
	background: #FFFFFF;
}
.highslide img {
	border: 1px solid #D0D0D0;
}
.highslide:hover img {
	border-color: #A0A0A0;
}
.highslide-dimming {
	background: #000000;
}
.highslide-image {
	border: none;
}
.highslide-caption {
	background-color: #DDDDDD;
	padding: 5px;
	border-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-color: #FFFFFF;
 border-style: solid;
}
.highslide-loading {
	display: block;
	padding: 3px 0 3px 38px;
	width: 0;
	height: 32px;
	overflow: hidden;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 3px 3px;
	background-image: url(graphics/loader.big.white.gif);
}



.comments {
     width: 85%;
    float: left;
    font-size: 150%;
    line-height: 150%;
    
    margin: auto 5% auto 5%;
    max-width: 100%;
   /* max-height: 100%;*/
}

article img{
    float: left;
    margin-left: 2%;
    max-width: 300px;
}

article h3 {
        line-height: 110%;
    padding: 7% 0% 1% 0%;
}
